.topbar
{
  display: inline-flex;
  margin-bottom: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  .menu-item {
    padding: 0.5rem 1rem;
    width: 100%;
    cursor: pointer;
    &.itemSelected {
      background-color: #404040;
      color: #d0d0d0
    }
    &.itemNotSelected {
      background-color: #d0d0d0;
      color: #808080
    }
  }
  &:not(:last-child) {
    margin-right: 0.25rem;
  }

}


