<div class="top-bar">
  <div class="title-bar">
    <div class="title-content">
      <div class="title">
        Paul Cousineau
      </div>
      <div class="subtitle">
        Web Applications Developer
      </div>
    </div>
    <div class="tools">
      <div class="link">
        <a target="_blank" href="mailto:oolotronic@hotmail.com">oolotronic&#64;hotmail.com</a>
      </div>
      <div class="link">
        <a target="_blank" href="https://www.linkedin.com/in/paul-cousineau-b3319461">LinkedIn</a>
      </div>
      <div class="link">
        <a target="_blank" href="./assets/pcousineauResume.pdf">Resume</a>
      </div>
    </div>
  </div>
  <div class="menu-bar">
    <div *ngFor="let item of menuItems" class="menu-items" (click)="topbarClick(item)">
        <div class="menu-item" [ngClass]="item.selected ? 'itemSelected' : 'itemNotSelected'">
          {{item.label}}
        </div>
    </div>
  </div>
</div>
