<div class="timeline">
  <div *ngFor="let job of timeline; index as id" class="timeline-item">
    <div class="timeline-card" (click)="selectItem(job)"
         [ngStyle]="{'border-left': '12px solid '+colorLUT[id]}">
      <div class="job-summary">

          <div class="title">
            <div *ngIf="job.link">
              <a target="_blank" href="{{job.link}}">{{job.company}}</a>
            </div>
            <div *ngIf="!job.link">
              {{ job.company }}
            </div>
          </div>
          <div class="subtitle">
            {{ job.location }}
          </div>
          <div class="info">
            {{ job.jobTitle }} ({{ job.start }} - {{ job.end }})
          </div>


      </div>
      <div class="job-details">
        <ul>
          <li *ngFor="let detail of job.details">
            {{detail}}
          </li>
        </ul>
        <div *ngIf="job.selected" class="fade-in">
          <div *ngFor="let screen of job.screenshots" class="screenshots" >
            <div class="screenshot" (click)="onEvent($event,screen)">
              <img alt="{{screen.description}}" class="screenImg" src="{{screen.fileName}}" height="100" width="120"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<slide-modal *ngIf="showModal" [screen]="showScreen" (close)="modalClose()"></slide-modal>
