.timeline {
  .timeline-item {
    cursor: pointer;
    .timeline-card {
      display: inline-flex;
      margin-bottom: 1rem;
      width: 100%;
      .job-summary {
        display:inline-block;
        padding: 1rem;
        background-color: lightgray;
        //border-left: 12px solid red;
        width: 33%;
        .title {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .subtitle {
          font-size: 0.8rem;
          margin-bottom: 1rem;
        }
        .info {
          font-size: 0.8rem;
        }
      }
      .job-details {
        display:inline-block;
        padding-right: 1rem;
        margin-right: 0.75rem;
        font-size: 0.8rem;
        background-color: darkgray;
        width: 67%;
      }
      .screenshots
      {
        display: inline-flex;
        padding: 0;
        .screenshot {
          cursor: pointer;
          padding: 0.5rem;
          .screenDescription {
            font-size: 0.8rem;
          }
        }
        .screenshot:first-child
        {
          padding-left: 1rem;
        }
      }
    }
  }
}

.modal {
  cursor: pointer;
  background: #f0f0f0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  .screenImg {
    padding-top: 1rem;
  }

  .screenTitle {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}
