.timeline {
  color: #202020;
  .timeline-item {
    cursor: pointer;
    .timeline-card {
      display: inline-flex;
      margin-bottom: 1rem;
      width: 100%;
      .job-summary {
        display:inline-block;
        padding: 1rem;
        background-color: lightgray;
        //border-left: 12px solid red;
        width: 33%;
        .title {
          font-size: 1rem;
          font-weight: bold;
        }
        .subtitle {
          font-size: 0.8rem;
          margin-bottom: 1rem;
        }
        .info {
          font-size: 0.8rem;
        }
      }
      .job-details {
        display:inline-block;
        padding-right: 1rem;
        margin-right: 0.75rem;
        font-size: 0.8rem;
        background-color: darkgray;
        width: 67%;
      }
      .screenshots
      {
        display: inline-flex;
        padding: 0;
        .screenshot {
          cursor: pointer;
          padding: 0.5rem;
          .screenDescription {
            font-size: 0.8rem;
          }
        }
        .screenshot:first-child
        {
          padding-left: 1rem;
        }
      }
    }
  }
}

.modal {
  cursor: pointer;
  background: #d0d0d0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  text-align: center;
  .screenImg {
    padding-top: 1rem;
    width: auto;
    max-height: 600px;
  }

  .screenTitle {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}

a {
  color: #202020;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
