.skills {
  display: inline-flex;

  .chart-controls {
    flex: 0.25;
  }
  .chart-container {
    padding-left: 1rem;
    padding-top: 0rem;
    width:600px;
    height:600px;
    flex: 0.75;
  }

}
