.skills {
  .chart-controls {
    flex: 0.33;
    padding-right: 1rem;
    .metric-box {
      padding: 0.5rem;
      margin-top: 1rem;
      font-size: 0.8rem;
      width: 100%;
      background-color: #d0d0d0;

      .metric-title {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        color: #808080;
        text-transform: uppercase;
      }

      .metric-selector {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-transform: uppercase;

        .metric-select {
          flex: 1;
          padding: 0.5rem;
          font-size: 0.8rem;
          cursor: pointer;
          &.metric-enable {
            background-color: #404040;
            color: #e0e0e0
          }
          &.metric-disable {
            background-color: #e0e0e0;
            color: #808080
          }
        }
        .metric-select:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }

    .metric-description {
      padding: 0.5rem;
      margin-bottom: 1rem;
      color: #808080;
      font-size: 0.8rem;
      width: 100%;
      background-color: #d0d0d0;
    }
  }
  .radio-select {
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 0.8rem;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    color: #d0d0d0;

    &.radio-enable {
      opacity: 1;
    }
    &.radio-disable {
      opacity: 0.5;
    }
  }

  .chart-container {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-top: 0rem;
    min-width:600px;
    min-height:600px;
    flex: 0.75;
  }
}

@media only screen and (min-width: 800px) {
  .skills {
    display: inline-flex;
  }
}

