<div class="overview">
    <div class="category expertise">
        Expertise
    </div>
    <div class="description">
      I am an expert web developer who specializes in enterprise grade SaaS, B2B web applications.
      <br/><br/>
      I architect, develop and deploy across both React and Angular ecosystems including, back end heavy
      integrations (REST, graphQL, sockets ) and front end heavy UI styling and visualizations
      (D3, ChartJs, HighCharts, Kendo.)
    </div>
</div>
<div class="overview">
    <div class="category development">
        Impact
    </div>
    <div class="description">
      My software has been pivotal in the growth and operation of highly funded, high growth startups.
      <br/><br/>
      The Plume network operation center is used by global telecom companies (Comcast, Vodafone) to
      configure and diagnose millions of locations and billions of devices.
    </div>
</div>
<div class="overview">
    <div class="category teams">
        Team
    </div>
    <div class="description">
      I built a team of high performing developers from 1 to 12+; leading company-wide
      innovations, creating product pipelines, design frameworks and code base standardization.
      <br/><br/>
      I created a standard component library that greatly increased development velocity and drove UI/UX consistency
      across multiple applications.
      <br/>
    </div>
</div>
<div class="overview">
    <div class="category site">
        Site
    </div>
    <div class="description">
      This site provides a demonstrable example of a data driven Angular application;
      including custom components, visualization and user interactions.
      <br/><br/>

      Source available at
      <a href="https://github.com/oolox/test-app" target="_blank">
        GitHub</a>
    </div>
</div>


