<div class="overview">
    <div class="category expertise">
        Expertise
    </div>
    <div class="description">
        Expert web developer with a proven track record
        of delivering mission critical, enterprise grade B2B applications.
        <br/><br/>
        Developed data driven web applications that configure and visualize giga scale datasets.
        <br/><br/>
        I specialize in synthesis of complex product and design requirements into elegant, maintainable, high quality user interfaces.
        <br/>

    </div>
</div>
<div class="overview">
    <div class="category development">
        Development
    </div>
    <div class="description">
        Skilled Angular and React developer, with extensive experience
        implementing visualizations (D3, ChartJs, HighCharts, Kendo) and complex API
        architectures. (REST, graphQL, sockets)
        <br/><br/>
        I write clean, structured, human readable code, and implement
        standards and protocols to support consistency. ( component libraries, lint rules, standards development )
        <br/>
    </div>
</div>
<div class="overview">
    <div class="category teams">
        Teams
    </div>
    <div class="description">
        At Plume, I built a team of high performing developers (including long term
        planning, screening, interviewing) from 1 to 12+ developers.
        <br/><br/>
        I contribute innovation, experience and expertise across teams, helping to deliver
        best in class user experiences and ensuring on spec, on time deliverables.
        <br/>
    </div>
</div>
<div class="overview">
    <div class="category site">
        Site
    </div>
    <div class="description">
        This site was developed over a one week period to provide a demonstrable example of a data driven
        angular application; including custom components, visualization and user interactions.
        <br/><br/>
        The source for this site is available at
        <a href="https://github.com/oolox/test-app" target="_blank">GitHub</a>
        <br/>
    </div>
</div>
