<div class="overview">
  <div class="category">
    Expertise
  </div>
  <div class="description">
    Expert web developer with a proven track record
    of delivering mission critical, enterprise grade B2B applications.
    <br/><br/>
    Developed data driven web applications that configure and visualize giga scale datasets.
    <br/><br/>
    Synthesis of complex product and design requirements into elegant, maintainable, high quality user interfaces.
    <br/>

  </div>
</div>
<div class="overview">
  <div class="category">
    Development
  </div>
  <div class="description">
    I am a skilled Angular and React developer, with extensive experience
    implementing visualizations (D3, ChartJs, HighCharts, Kendo) and complex API
    architectures. (REST, graphQL, sockets)
    <br/><br/>
    I write clean, structured, human readable code, and implement
    standards and protocols to support consistency. ( component libraries, lint rules, standards development )
    <br/>
  </div>
</div>
<div class="overview">
  <div class="category">
    Teams
  </div>
  <div class="description">
    I am innovative, flexible and contribute expertise across teams, helping to deliver
    best in class user experiences and ensuring on spec, on time deliverables.
    <br/><br/>
    At Plume I built a team of high performing developers (including long term
    planning, screening, interviewing) from 1 to 12+ developers.
    <br/>
  </div>
</div>


